.checkout {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 2rem;
  color: coral;
}

.container {
  padding: 1rem;
}

.cart_items {
  width: 60%;
  display: flex;
  margin-bottom: 0.4rem;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagen {
  width: 0.5%;
}
.imagen img {
  height: 50px;
}

.libro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 60px;
  width: 60%;
}

.libro p {
  font-size: 1.3rem;
  /* margin: 10px; */
  text-transform: capitalize;
  text-align: left;
}

.cantidad {
  display: flex;
  align-self: center;
  width: 15%;
}

.precio {
  width: 15%;
  align-items: center;
}

.precio p {
  font-size: 1.3rem;
  color: black;
}

.cantidad p {
  font-size: 1.5rem;
  color: black;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 20%;
}

.borrar {
  display: flex;
  align-items: center;
  width: 10%;
}

.borrar button {
  color: black;
  border: 2px solid red;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: red;
    color: white;
  }
}

.countmas {
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 60px;
  &:hover {
    background-color: green;
    color: white;
  }
}

.countmenos {
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 60px;
  &:hover {
    background-color: red;
    color: white;
  }
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  color: black;
  font-size: 1.3rem;
}

.total {
  color: blue;
  font-size: 1.8rem;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.comprar {
  display: flex;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 20px;
  &:hover {
    background-color: green;
    color: white;
  }
}

.vaciar {
  margin-right: 10px;
  display: flex;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-right: 40px;
  &:hover {
    background-color: red;
    color: white;
  }
}

.frameCheckout {
  display: flex;
  justify-content: right;
  & a {
    text-decoration: none;
  }
}

.footer {
  width: 60%;
}
